<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= page.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js" defer></script>
</head>

<body>
    <section>
        <div class="imgBx">
            <img src="<%= page.image %>" alt=" login page background image">
        </div>
        <div class="contentBx">
            <div class="formBx">
                <h2><%= page.title %></h2>

                <form action="/webapp/update-user-password" method="POST">
                    <div class="inputBx">
                        <span><%= page.email %></span>
                        <input name="username" type="text">
                    </div>
                    <div class="inputBx">
                        <button type="submit" class="btn" id="submit-form">
                            <div>
                                <h4><%= page.btn %></h4>
                            </div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

</html>
